<div class="layout">

  <!-- SIDEBAR -->
  <aside class="sidebar">
    <div class="sidebar-logo">
      <div class="logo-icon">
        <span class="material-icons">local_gas_station</span>
      </div>
      <div class="logo-text">
        <h2>CardOil</h2>
        <span>Admin Département</span>
      </div>
    </div>

    <nav class="nav-section">
      <a routerLink="/departement/dashboard" class="nav-item" routerLinkActive="active">
        <span class="material-icons nav-icon">dashboard</span>
        <span>Dashboard</span>
      </a>
      <a routerLink="/departement/employes" class="nav-item" routerLinkActive="active">
        <span class="material-icons nav-icon">people</span>
        <span>Mes Employés</span>
      </a>
      <a routerLink="/departement/cartes" class="nav-item" routerLinkActive="active">
        <span class="material-icons nav-icon">credit_card</span>
        <span>Mes Cartes</span>
      </a>
    </nav>

    <div class="sidebar-bottom">
      <div class="nav-item signout" (click)="logout()">
        <span class="material-icons nav-icon">logout</span>
        <span>Sign Out</span>
      </div>
      <div class="user-card">
        <div class="user-avatar">{{ prenom?.charAt(0) }}{{ nom?.charAt(0) }}</div>
        <div class="user-info">
          <strong>{{ prenom }} {{ nom }}</strong>
          <span>Admin Département</span>
        </div>
      </div>
    </div>
  </aside>

  <!-- MAIN -->
  <div class="main">

    <!-- TOPBAR -->
    <div class="topbar">
      <div class="breadcrumb">
        <span>CardOil</span>
        <span>›</span>
        <span>{{ pageTitle }}</span>
      </div>
      <div class="search-bar">
        <span class="material-icons search-icon">search</span>
        <input type="text" placeholder="Search anything..." />
      </div>
      <div class="topbar-right">
        <button class="btn-notif">
          <span class="material-icons">notifications</span>
        </button>
        <button class="btn-notif">
          <span class="material-icons">light_mode</span>
        </button>
        <div class="topbar-avatar">{{ prenom?.charAt(0) }}{{ nom?.charAt(0) }}</div>
      </div>
    </div>

    <!-- CONTENT -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>